.board {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.column {
  background: #f3f3f3;
  padding: 10px;
  width: 250px;
  min-height: 300px;
  border-radius: 8px;
}

.task {
  background: white;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  /* width: 12vw; */
  position: relative;
}

.column h2 {
  text-align: center;
}
.kanban-board-main {
    background-image: url('../assets/KanbanWallpaper.avif');
    
}
.headers {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.circle {
  width: 12px;
  height: 12px;
  background-color: #007bff;
  border-radius: 50%;
}
.icons {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 7px;
    top:13px;
}
.icon {
    height:17px;
    cursor: pointer;

}
.add-icon {
    height: 20px;
    cursor: pointer;
}