.board {
  display: flex;
  gap: 20px;
  padding: 20px;
  padding:13vh;
  animation: kanban 2s ease-in-out;
}

.column {
  background: #f3f3f3;
  padding: 10px;
  width: 250px;
  min-height: 300px;
  border-radius: 8px;
}

.task {
  background: white;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  /* width: 12vw; */
  position: relative;
}

.column h2 {
  text-align: center;
}
.kanban-board-main {
    background-image: url('../assets/BackgroundImage.png');
    height: 88vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: auto;
    max-height:100vh;
    
}
.headers {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.circle {
  width: 12px;
  height: 12px;
  background-color: #007bff;
  border-radius: 50%;
}
.icons {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 7px;
    top:13px;
}
.icon {
    height:17px;
    cursor: pointer;

}
.add-icon {
    height: 20px;
    cursor: pointer;
}
.instructions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 55px;
}
.instructions li {
    font-weight: 500;
}
@keyframes kanban {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reset-btn , .add-btn {
    width:10vw;
    margin-top: -20px;
}
