#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  font-family: Arial, sans-serif;
}

/* .board {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.column {
  background: #f3f3f3;
  padding: 10px;
  width: 250px;
  min-height: 300px;
  border-radius: 8px;
}

.task {
  background: white;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.column h2 {
  text-align: center;
} */
 /* .App {
 background-color: aquamarine;
 } */
.add-btns-grp {
  display: flex;
  gap: 10px;
}
.custom-modal-footer {
 justify-content: flex-start !important;
}
.modal-validations li {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  font-weight: 500;
}
.tree-view-comp, .kanban-board-comp {
    height: 73vh;
    width: 19vw;
    margin-top: -22px;
}
.tree-view-bg {
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  border-radius: 12px;
  padding: 20px;
  overflow: auto;
}

.kanban-board-bg {
  background: linear-gradient(135deg, #f3e5f5, #e1bee7);
  border-radius: 12px;
  padding: 20px;
  overflow: auto;
}
.home-page-headers span {
  font-weight: 600;
}